@import "../../styles/variables";

.user {
  background-color: $white;
  border-radius: 40px;
  padding: 10px 30px;
  position: relative;

  &--current {
    background-color: $dark-blue;
    color: $white;
  }

  &--contact::after {
    aspect-ratio: 1;
    background-color: $beige;
    border-radius: 100%;
    content: "";
    height: calc(100% - 20px);
    position: absolute;
    right: 12px;
    top: 10px;
  }

  &__name {
    margin: 0;
  }

  &__phone {
    font-weight: 300;
    margin: 0;
  }
}
