@import "../../styles/variables";

.register {
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 30px;
  display: flex;

  &__error {
    color: $red;
    margin: 0;
    width: 100%;
  }

  &__title {
    margin: 0;
  }

  &__form {
    align-items: flex-end;
    display: flex;
    gap: 8px;
  }

  &__label {
    font-size: 0.8rem;
    padding-left: 10px;
  }

  &__field,
  &__button {
    border-radius: 15px;
    display: block;
    font-family: inherit;
    font-size: 1rem;
  }

  &__field {
    background-color: $white;
    border: 1px solid $white;
    color: inherit;
    margin-top: 5px;
    outline: none;
    padding: 5px 10px;
    transform: translateX(-10px);
    width: 170px;

    &:focus {
      border-color: $dark-blue;
      outline: none;
    }

    &--error {
      border-color: $red;
    }
  }

  &__button {
    background-color: $red;
    border: 1px solid $red;
    color: $white;
    padding: 5px 20px;
    width: auto;

    &:hover {
      background-color: $dark-blue;
      border-color: $dark-blue;
    }
  }
}
